<app-header-dashboard></app-header-dashboard>

<section class="container p-3 mt-3 mb-3">
    <h1 class="text-center ">Próximas reservas</h1>
</section>
<div class="container">
    <h3 class="my-4 text-center">¡Bienvenido a la Gestión de Próximas Reservas!</h3>
    <p>Aquí encontrarás un listado de las reservas pendientes organizadas por fecha. Revisa los detalles, actualiza el
        estado o
        realiza los ajustes necesarios para garantizar una experiencia impecable. ¡Gracias por tu dedicación
    </p>

    <app-reservations-card></app-reservations-card>
    <app-reservations-card></app-reservations-card>
    <app-reservations-card></app-reservations-card>
    <app-reservations-card></app-reservations-card>
    <app-reservations-card></app-reservations-card>
    <app-reservations-card></app-reservations-card>
    <app-reservations-card></app-reservations-card>
</div>