<section class="container">
    <div class="card mb-3">
        <div class="card-body">
            @if(hasDeleteButton) {
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">{{userid}} | {{userName}}</h5>
                <button class="btn" (click)="deleteReview()">Eliminar</button>
            </div>
            }
            <p class="card-text">⭐ Rating: {{rating}}/5</p>
            <p class="card-text">
                {{comment}}
            </p>
        </div>
    </div>
</section>