<section class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h5>Nombre de usuario que la ha escrito</h5>
            <div class="d-flex">
                <button class="btn ms-auto">Eliminar</button>
            </div>

            <p class="card-text">⭐ Rating: 5/5</p>
            <p class="card-text">
                De aquí a la cola del INEM, Con suerte una empresa en Bangladesh nos hace un outsourcing bien rico.
                Aporreo el teclado como un mono con toda la zorra que tengo. Eternal becario, suicídenme.
                Vamos directos al paro, a programar debajo de un puente robando la luz de las farolas.
                Primo, dame algo suelto que este servidor no se paga solo.
            </p>
        </div>
    </div>
</section>