<div class="border border-2 rounded-3 w-auto d-flex justify-content-center" id="menu-card">
    <div class="container">
        <div class="row g-3">
            <div class="col-12">
                <ul class="list-unstyled row">
                    <div class="col-12 col-lg-6">
                        <li class=" fs-5">Francisco Pérez de la Torre</li>
                        <li class=""><strong>10/12/2024</strong></li>
                        <li class=" "><strong>21:00</strong></li>
                    </div>
                    <div class="col-12 col-lg-6">
                        <li class=" ">Mesa 2</li>
                        <li class=" ">Comensales 4</li>
                        <li class=" ">
                            <button class="btn">Cancelar</button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

    </div>
</div>