<div class="border border-2 rounded-3 " id="menu-card">
    <div class="container">
        <div class="row g-3">
            <div class="col-12">
                <ul class="list-unstyled row">
                    <div class="col-12">
                        <li class="m-2 fs-5"><strong>Francisco Pérez de la Torre </strong></li>
                        <li class="m-2"><strong>10/12/2024</strong></li>
                        <li class="m-2"><strong>21:00</strong></li>
                        <li class="m-2">Mesa 2</li>
                        <li class="m-2">Comensales 4</li>
                        <li class="m-2">
                            <button class="btn">Cancelar</button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

    </div>
</div>