<app-header-dashboard></app-header-dashboard>

<div class="container">
    <h1 class="my-4 text-center p-3 border-primary rounded shadow">Usuarios Registrados</h1>
    <h3>¡Bienvenido al Panel de Administración!</h3>
    <p>
        Aquí puedes gestionar y visualizar todos los usuarios registrados. Utiliza las tarjetas para acceder rápidamente
        a la
        información de cada usuario y realizar las acciones necesarias. ¡Gracias por mantener todo en orden!
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
        <app-users-card></app-users-card>
    </div>
</div>