.usuarios-registrados {
    background-color: var(--bg-white);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000001a;
    margin-top: 2.5rem;
    padding: 1%;
    text-align: center;

    p {
        width: 70%;
        margin: 0 auto;
    }
}


.btn {
    background-color: var(--color-primary-dark);
    color: black;
}