<header>
    <app-header-dashboard />
</header>

<div class="container mt-5">
    <div class="text-center" id="text-container">
        <h3 class="my-4">¡Bienvenido a la Gestión de Usuarios Registrados!</h3>
        <p>Aquí encontrarás un listado de los usuarios registrados en el sistema.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 g-4">
            @for(user of users; track user.id) {
            <app-users-card [user]="user" (deleteUser)="onDeleteUser()"></app-users-card>
            }
        </div>

    </div>
    <button id="btn-top" class="btn" (click)="scrollToTop()">↑ Volver Arriba</button>

</div>