<header>
    <app-header />
</header>
<div class="d-flex justify-content-center">
    <div class="container m-2">
        <div class="container m-2 text-center">
            <h2>Reserva tu experiencia.</h2>
            <p>Disfruta de nuestro exclusivo menú diario, creado para cada momento del día. Reserva tu mesa en sala o terraza y vive una experiencia inolvidable.</p>
        </div>

        <div class=" container m-4">
            <form [formGroup]="form" (ngSubmit)="ngSubmit()">

                <div class="form-group mb-3">
                    <label for="start" class="">Fecha</label>
                    <input type="date" id="start" name="trip-start" [value]="today" [min]="today" max="2025-12-31" formControlName="date" class="form-control" />
                </div>

                <div class="form-group  mb-3">
                    <label class="" for="horario">Horario</label>
                    <select formControlName="time" class="form-control" id="horario">
                        <option value="" selected disabled>Seleccione una opción</option>
                        <option value="breakfast">Desayuno</option>
                        <option value="lunch">Comida</option>
                        <option value="dinner">Cena</option>
                    </select>
                </div>


                <div class="form-group mb-3">
                    <label class="" for="horario">Comensales</label>
                    <input type="number" formControlName="guests" class="form-control" placeholder="1" min="1">
                </div>

                <div class="form-group mb-3">
                    <label class="" for="ubicacion">Ubicación</label>
                    <select formControlName="location" class="form-control" id="ubicacion">
                        <option value="" selected disabled>Seleccione una opción</option>
                        <option value="outside">Terraza</option>
                        <option value="inside">Salón</option>
                    </select>
                </div>

                <input type="submit" class="btn mt-4" value="Reservar" [disabled]="!form.valid" [class.active]="form.valid">

            </form>

            <img src="./images/map-restaurante.png" class="map" alt="Mapa de la ubicacion del local">
        </div>

    </div>
</div>

<footer>
    <app-footer />
</footer>