.foody-bg {
    height: 100vh;
    background-image: url('../../../../public/background-food6.svg');
    position: relative;
    z-index: 1;
}


form {
    padding: 50px 50px 35px 50px;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    border-radius: 5px;
    width: clamp(450px, 24.5%, 1000px);
    top: 5%;
    left: 10%;
    position: absolute;
    background-color: #acce56;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.31);
    z-index: 10;
    display: flex;
    flex-direction: column;
    color: rgb(70, 70, 70);

    sup {
        color: rgb(187, 83, 121);
        font-size: 16px;
    }

    input[type="submit"] {

        &.active {
            padding: 15px 30px;
            font-size: 1.2rem;
            color: #fff;
            background: linear-gradient(45deg, #ff6b6b, #ffde59);
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.4s ease;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

            &:hover {
                border-radius: 10px;
                background: linear-gradient(45deg, #007bff, #00c853);
                transform: scale(1.1) rotate(3deg);
                box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
            }
        }

        &:disabled {
            transition: all 0.6s ease;
        }

    }
}

.map {
    position: absolute;
    left: 0%;
    top: 1%;
    width: 100%;
    height: auto;
    z-index: 5;
    clip-path: polygon(0% 82%, 0% 18%, 100% 0%, 100% 100%);
}

.okiw {
    color: red !important;
}

@media (width <=1400px) {
    .map {
        width: 1400px;
        top: 7%;
    }
}

@media (width <=1200px) {
    .map {
        top: 10%;
    }
}

@media (width <=1000px) {
    .map {
        top: 13%;
    }
}

@media (width <=888px) {
    .map {
        top: 16%;
        left: -10%;
    }
}

@media (width <=794px) {
    .map {
        top: 15%;
        left: -15%;
    }
}

@media (width <=734px) {
    .foody-bg {
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;
        justify-content: space-between;

        form {
            position: unset;
            width: 99%;
            margin: 0.5%;
        }

        .map {
            top: 35%;
            left: -65%;
            clip-path: polygon(0% 100%, 0% 40%, 100% 0%, 100% 100%);
        }
    }
}