.container {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

h2 {
    font-family: var(--font-fancy);
    font-size: 5rem;
}

h3 {
    font-family: var(--font-primary);
    font-size: 2rem;
}

p {
    font-family: var(--font-primary);
    font-size: 1rem;
}

li {
    font-family: var(--font-primary);
    font-size: 0.9rem;
}

form {
    padding: 50px 50px 35px 50px;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    border-radius: 5px;
    width: clamp(450px, 24.5%, 1000px);
    top: 5%;
    left: 10%;
    position: absolute;
    background-color: var(--color-primary-dark);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.31);
    z-index: 10;
    display: flex;
    flex-direction: column;
    color: rgb(70, 70, 70);

    sup {
        color: rgb(187, 83, 121);
        font-size: 16px;
    }

    input[type="submit"] {

        &.active {
            color: var(--bg-white);
            background-color: var(--color-tertiary);
            border: transparent;

            &:hover {
                background-color: rgb(121, 95, 50);
            }
        }

        &:disabled {
            transition: all 0.6s ease;
        }

    }
}


.map {
    position: relative;
    overflow: hidden;
    display: block;
    left: 0%;
    top: 1%;
    padding-right: 50px;
    max-width: 100%;
    height: auto;
    z-index: 5;
    clip-path: polygon(0% 82%, 0% 18%, 100% 0%, 100% 100%);
}


@media (width <=1400px) {
    .map {
        width: 1400px;
        top: 7%;
    }
}

@media (width <=1200px) {
    .map {
        top: 10%;
    }

    form {
        top: 3%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

@media (width <=1000px) {
    .map {
        top: 13%;
    }
}

@media (width <=888px) {
    .map {
        top: 16%;
        left: 0;
    }
}

@media (width <=794px) {
    .map {
        top: 15%;
        left: -15%;
    }
}


@media (max-width: 770px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        position: relative;
        width: 90%;
        margin: 0.5%;
        left: 0;
        top: 0;
    }

    .map {
        width: 90%;
        top: 0;
        left: 0;
        clip-path: none;
        clip-path: polygon(0% 100%, 0% 40%, 100% 0%, 100% 100%);
    }
}

@media (width <=734px) {
    .foody-bg {
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;
        justify-content: space-between;

        form {
            position: relative;
            width: 99%;
            margin: 0.5%;
        }

        .map {
            top: 35%;
            left: 0;
            clip-path: polygon(0% 100%, 0% 40%, 100% 0%, 100% 100%);
        }
    }
}