#navbar {
    background-color: var(--color-primary);

    a {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        color: var(--color-tertiary);

        img {
            width: 60px;
        }

        font-family: var(--font-fancy);
        font-size: 50px;
    }

    border-bottom: 5px solid var(--color-tertiary);
}

#navbarNav ul {
    margin-left: auto;
    
}

#btn {
    color: black;
    border: none;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--font-primary);
}

#btn:hover {
    background-color: white;
}

@media (max-width: 61.99875rem) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        display: inline-block;
        margin: 0 auto;
        border-bottom: 1px solid var(--color-tertiary);
        padding-bottom: 10px;
    }

}