#navbar {
    background-color: var(--color-primary);

    a {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        color: var(--color-tertiary);

        img {
            width: 60px;
        }

        font-family: var(--font-fancy);
        font-size: 50px;
    }

    border-bottom: 5px solid var(--color-tertiary);
}

#navbarNav ul {
    margin-left: auto;
    
}

#btn {
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-primary-dark);
    border: 1px solid #867a6610;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 61.99875rem) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        display: inline-block;
        margin: 0 auto;
        border-bottom: 1px solid var(--color-tertiary);
        padding-bottom: 10px;
    }

    .nav-item:last-child {
        border-bottom: none;
    }
}