<app-header />
<div>
    <figure>
        <img src="./images/interior.jpg" alt="interior">
    </figure>

</div>
<div class="reservations">
    <div class="calendar-container">
        <app-calendar class="calendar"></app-calendar>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Selecciona un horario
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item">Action</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="reservation-container">
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Comensales" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="InpurParaOtraCosa" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <button class="btn">Reservar</button>
    </div>
</div>