.card {
    background-color: #f8f9fa;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;

    h5 {
        font-weight: 500;
        border-bottom: 1px solid #333;
        padding-bottom: 15px;
    }

}