<app-header></app-header>
<div class="container">
    <div class="top-section">
        <div class="left-panel">
            <div class="row">
                <div class="col-lg-8 ">
                    <div class="card-body">
                        <h2 class="mb-4">Editar mi información</h2>

                        <!-- Nombre -->
                        <div class="form-outline mb-4">
                            <input type="text" id="nombre" class="form-control" placeholder="Nombre">
                        </div>

                        <!-- Apellido -->
                        <div class="form-outline mb-4">
                            <input type="text" id="apellido" class="form-control" placeholder="Apellido">
                        </div>

                        <!-- Teléfono -->
                        <div class="form-outline mb-4">
                            <input type="tel" id="telefono" class="form-control" placeholder="Teléfono">
                        </div>

                        <!-- Email -->
                        <div class="form-outline mb-4">
                            <input type="email" id="email" class="form-control" placeholder="Email">
                        </div>

                        <!-- Password -->
                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control" placeholder="Nueva contraseña">
                        </div>

                        <button type="submit" class="btn">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div>
                <h2>Reservas</h2>
                <button class="btn mb-4" [routerLink]="['/reservations']">Hacer una nueva reserva</button>
                <app-reservations-card></app-reservations-card>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <h2>Reseñas</h2>
        <div class="button-container mb-4">
            <button class="btn" [routerLink]="['/create-review']">Escribir una nueva reseña</button>
        </div>
        <div>
            <app-review-card></app-review-card>
        </div>
    </div>
</div>
<app-footer></app-footer>