<app-header></app-header>
<div class="container">
    <div class="top-section">
        <div class="left-panel">
            <h2>Información del Usuario</h2>
            <p>Nombre: Juan</p>
            <p>Apellidos: Pérez</p>
            <p>Telefono: +34 654098543</p>
            <p>Email:jj#gmail.com </p>
            <p>Password: ********</p>
            <button>Editar Información</button>
        </div>
        <div class="right-panel">
            <h2>Reseñas</h2>
            <ul>
                <li>Reseña 1: "Muy buena experiencia."</li>
                <li>Reseña 2: "Servicio excelente."</li>
            </ul>
            <button class="btn" [routerLink]="['/create-review']">Escribir una nueva reseña</button>
        </div>
    </div>
    <div class="bottom-section">
        <h2>Reservas</h2>
        <ul>
            <li>Reserva 1: Hotel en Madrid - 10/11/2024</li>
            <li>Reserva 2: Restaurante en Barcelona - 15/11/2024</li>
        </ul>
        <button>Hacer una nueva reserva</button>
    </div>
</div>
<app-footer></app-footer>