<app-header-dashboard />

<section class="container">
    <div class="text-center" id="text-container">
        <h3 class="my-3">¡Visualiza las reseñas del local!</h3>
        <p>Aquí podrás ver todas las reseñas que los clientes han dejado acerca de tu local.
            De un vistazo podrás ver los comentarios y puntuaciones de tus usuarios.
        </p>
    </div>
    <app-review-card />
    <app-review-card />
    <app-review-card />
    <button id="btn-top" class="btn" (click)="scrollToTop()" style="display: none;">↑ Volver Arriba</button>


</section>