<app-header-dashboard />

<section class="container p-3 mt-3 mb-3">
    <h1 class="text-center shadow-sm">Usuarios registrados</h1>
</section>
<app-users-card />
<app-users-card />
<section class="container p-3 mt-3 mb-3">
    <h1 class="text-center shadow-sm">Próximas reservas</h1>
</section>

<section class="container row justify-content-center m-auto">
    <div class="col-md-6 col-lg-4">
        <app-reservations-card />
    </div>
    <div class="col-md-6 col-lg-4">
        <app-reservations-card />
    </div>
    <div class="col-md-6 col-lg-4">
        <app-reservations-card />
    </div>
    <div class="col-md-6 col-lg-4">
        <app-reservations-card />
    </div>
    <div class="col-md-6 col-lg-4">
        <app-reservations-card />
    </div>
</section>

<section class="container p-3 mt-3 mb-3">
    <h1 class="text-center shadow-sm">Últimas reseñas</h1>
</section>
<app-review-card />
<app-review-card />