<div class="card border-2 rounded-3">
    <div class="card-body">
        <ul class="list-unstyled row g-3">
            <li class="col-12 col-lg-6">
                <strong>Nombre:</strong>
                <div class="text-break">Juan Antonio Garcia</div>
            </li>
            <li class="col-12 col-lg-6 ">
                <div>
                    <strong>Email:</strong><span class="text-break"> johndoe#example.com</span>
                </div>
                <div>
                    <strong>Phone:</strong><span class="text-break"> 654892345</span>
                </div>
            </li>
        </ul>
    </div>
</div>