@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Gowun+Dodum&family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body {
    background-color: #f5f5f5;
    min-height: 100vh;
    /* Había un scroll lateral raro que he quitado con esto, Fran */
    overflow-x: hidden;

}


button {
    font-family: var(--font-secondary);
    font-size: 17px;
    background-color: var(--color-secondary-dark);
    color: rgb(28, 28, 28);
    margin: 0 auto;
    width: 200px;
}

button:hover {
    background-color: rgb(196, 181, 144);
    color: black;
}

/* Estilos contenedor gastronomia */
#gastronomia {
    background-color: var(--color-primary-light);
    border-radius: 10px;
}

/* Estilos contenedor registrate */
#registrate {
    background-color: var(--color-primary-light);
    border-radius: 10px;

}

.reserva {

    .reserva-text {
        background-color: var(--color-primary-light);
        padding: 20px;
        border-radius: 10px;
    }

    button {
        background-color: var(--color-secondary-dark-no-trans);
    }

}


h1 {
    font-family: var(--font-fancy);
    font-size: 100px;
}


h2 {
    font-family: var(--font-secondary)
}

p {
    font-family: var(--font-primary);
    color: black;
}