<header>
    <app-header />
</header>
<div class="body">
    <!-- Seccion Titulo -->
    <section class="row">
        <div class="col-12 position-relative">
            <img src="./images/header-img.jpg" class="img-fluid w-100" alt="Restaurant"
                style="max-height: 500px; object-fit: cover;">
            <h1 class="position-absolute top-50 start-50 translate-middle text-white">¡Bienvenido a Frotend Feast!
            </h1>
        </div>
    </section>
    <!-- Fin Titulo -->

    <!-- Seccion Gastronmia -->
    <section class="container mt-4 mb-4">
        <div class="row mt-4 mb-4">
            <div class="col-md-6">
                <img src="./images/indian-food.jpg" class="img-fluid w-100 rounded" alt="Imagen gastronomia">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center" id="gastronomia">
                <h2>Gastronomia</h2>
                <p>En Nafac, te invitamos a sumergirte en una travesía culinaria que despierta los
                    sentidos. Nuestra
                    propuesta combina lo mejor de la cocina tradicional y contemporánea, con ingredientes frescos y de
                    calidad,
                    cuidadosamente seleccionados para cada plato.
                </p>
                <p>
                    Desde el momento en que entras, te recibirán aromas que evocan recuerdos y sabores que sorprenden
                    con
                    cada bocado.
                    Nuestros chefs, apasionados por la excelencia, trabajan con creatividad y dedicación para
                    transformar recetas en obras
                    de arte, presentadas con el máximo cuidado en cada detalle.
                </p>
                <p>
                    Acompaña tu experiencia con nuestra exclusiva selección de vinos y cócteles, diseñados para maridar
                    a la
                    perfección con
                    nuestra carta. El ambiente cálido y acogedor, junto con un servicio atento y personalizado, harán
                    que
                    cada visita sea
                    inolvidable.
                </p>
                <p>En Nafac, no solo comes, disfrutas, celebras y compartes momentos que quedarán en
                    tu memoria.
                    Ven y descubre por qué somos más que un restaurante; somos una experiencia. ¡Te esperamos!
                </p>
                <button id="btnReserva" class="btn mb-4" [routerLink]="['/menu']">Ver
                    menú
                </button>
            </div>
        </div>
    </section>
    <!-- Fin Gastronmia -->

    <!-- Seccion Registrate -->
    <section class="container mt-4 mb-4">
        <div class="row mt-4 mb-4">
            <div class="col-md-6 d-flex flex-column justify-content-center " id="registrate">
                <h2>Únete a Nuestra Familia Gastronómica</h2>
                <p>En Nafac, no solo reservamos una mesa para ti, te damos la bienvenida a nuestra
                    familia. Regístrate y
                    sé parte de nuestra comunidad, donde cada visita es un momento especial y cada cliente, un miembro
                    más
                    de nuestro hogar.
                </p>
                <p>
                    Forma parte de esta experiencia única y asegura tu lugar en nuestro espacio diseñado para compartir,
                    disfrutar y crear
                    recuerdos inolvidables. ¡Te esperamos con los brazos abiertos!</p>
                <button class="btn mb-3" [routerLink]="['/register']">Registrate para reservar</button>
            </div>
            <div class="col-md-6" id="imgRegistro">
                <img src="./images/thai-food-green-curry-chicken-ai-generated-image.jpg" class="img-fluid w-100 rounded"
                    alt="Imagen plato">
            </div>
        </div>
    </section>
    <!-- Fin Registrate -->

    <!-- Seccion Reserva -->
    <section class="container-fluid mt-5 p-5 position-relative reserva">
        <div class="row">
            <div class="col-12 text-center text-white">
                <div class="reserva-text">
                    <h2>Tu Momento, Tu Mesa</h2>
                    <p>Es hora de vivir la experiencia que mereces. Haz tu reserva ahora y prepárate para disfrutar de
                        una
                        velada única en
                        Nafac. Selecciona tu fecha, horario y déjanos encargarnos del resto.

                        Cada detalle está pensado para que tu visita sea inolvidable. Porque aquí, tu lugar siempre
                        estará
                        listo
                        para recibirte.
                        ¡Reserva ahora y forma parte de nuestra historia!</p>
                </div>
                <button class="btn mt-3" [routerLink]="['/reservations']">Reservar Ahora</button>
            </div>
        </div>
    </section>
    <!-- Fin Reserva -->
</div>
<footer>
    <app-footer />
</footer>