<app-header-dashboard></app-header-dashboard>
<section class="h-100 gradient-form" style="background-color: #f8f9fa;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black shadow">
                    <div class="row g-0">

                        <!-- Menu Creation Form Section -->
                        <form [formGroup]="menuForm" class="col-lg-8 mx-auto" (ngSubmit)="onSubmit()">
                            <div class="card-body p-md-5 mx-md-4 text-center">
                                <p class="h4 mb-4">Crea tu menú</p>

                                <!-- Menu Name Input -->
                                <div class="form-outline mb-4">
                                    <input type="text" formControlName="menuName" id="menuName" class="form-control"
                                        [class.border-danger]="checkValidation('menuName')"
                                        placeholder="*Nombre del Menú" required>
                                </div>

                                <!-- Date Input -->
                                <div class="form-outline mb-4">
                                    <input type="date" formControlName="date" id="date" class="form-control"
                                        [class.border-danger]="checkValidation('date')" placeholder="*Fecha" required>
                                </div>

                                <!-- Menu Price Input -->
                                <div class="form-outline mb-4">
                                    <input type="text" formControlName="menuPrice" class="form-control"
                                        placeholder="*Precio del Menú" required>
                                </div>

                                <h2>Entrantes</h2>


                                <div class="container-fluid mb-5 ">
                                    @for (starter of starters; track starter.id){
                                    <div class="row mb-2">
                                        <div class="col bg-white rounded-3 border border-2 ">
                                            <div class="d-flex justify-content-between align-middle  py-2 ">
                                                <h5 class=" m-0">{{starter.name}}</h5>
                                                <input (change)="onCheckboxChange($event)" type="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                    }

                                </div>
                                <button (click)="prueba()">
                                    Prueba
                                </button>

                                <h2>Platos principales</h2>


                                <div class="container-fluid mb-5 ">
                                    @for (main of mainDishes; track main.id){
                                    <div class="row mb-2">
                                        <div class="col bg-white rounded-3 border border-2 ">
                                            <div class="d-flex justify-content-between align-middle  py-2 ">
                                                <h5 class=" m-0">{{main.name}}</h5>
                                                <input type="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                    }

                                </div>

                                <h2>Postres</h2>

                                <div class="container-fluid mb-5 ">
                                    @for (dessert of desserts; track dessert.id){
                                    <div class="row mb-2">
                                        <div class="col bg-white rounded-3 border border-2 ">
                                            <div class="d-flex justify-content-between align-middle  py-2 ">
                                                <h5 class=" m-0">{{dessert.name}}</h5>
                                                <input type="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                    }

                                </div>


                                <!-- Submit Button -->
                                <div class="text-center pt-1 mb-5 pb-1 d-grid gap-2" id="submitButton">
                                    <button class="btn fa-lg mb-3" type="submit">
                                        Crear Menú
                                    </button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>