<ul class="nav d-flex justify-content-end bg-dark bg-opacity-75 p-2">
    <li class="nav-item">
        <a class="nav-link btn text-white" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="nav-item">
        <button class="nav-link btn text-white" [routerLink]="['/dashboard', 'menu']">Ver menús</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn text-white" [routerLink]="['/dashboard', 'create-menu']">Crear menú</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn text-white">Logout</button>
    </li>
</ul>