#navbar {
    background-color: var(--color-primary-light);


    a {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        color: var(--color-tertiary);
        padding: 0;

        img {
            width: 60px;
        }

        font-family: var(--font-fancy);
        font-size: 50px;
    }

    border-bottom: 5px solid var(--color-tertiary);
}

#navbarNav ul {
    margin-left: auto;
}

#btn {
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-primary-dark);
    border: 1px solid #867a6610;
}