<div class="container-fluid border border-4  rounded-3">
    <div class="row ">
        <div class="col ">
            <ul class="list-unstyled d-flex gap-4 align-items-center h-100">
                <li>Id</li>
                <li>Nombre</li>
            </ul>
        </div>
        <div class="col" style="height: 50px">
            <ul class="list-unstyled d-flex gap-2 justify-content-end align-items-center h-100">
                <li><a class="btn btn-primary" [routerLink]="['view', 1]">Ver</a></li>
                <li><a class="btn btn-primary" [routerLink]="['update', 1]">Actualizar</a></li>
                <li><a class="btn btn-primary" [routerLink]="['delete', 1]">Borrar</a></li>
            </ul>
        </div>
    </div>
</div>