<app-header-dashboard />

<div class="container p-3 mt-3 mb-3">
    <div class="row">
        <!-- Usuarios registrados -->
        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h1 class="text-center">Usuarios registrados</h1>
                    <div class="row g-3">
                        @for (user of users; track user.id) {
                        <app-new-users-card [user]="user"></app-new-users-card>
                        }
                    </div>
                    <div class="text-center mt-3">
                        <a [routerLink]="['/dashboard', 'usuarios-registrados']" class="btn btn-primary">Ver todos los
                            usuarios</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reseñas -->
        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h1 class="text-center">Reseñas</h1>
                    <div class="row">
                        <div class="col-12 mb-2">
                            @for (review of reviews; track review) {
                            <app-review-card [rating]="review.rating" [comment]="review.comment" />
                            }

                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <a [routerLink]="['/dashboard', 'reviews']" class="btn btn-primary">Ver todas las reseñas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Próximas reservas -->
    <div class="card shadow-sm m-4">
        <div class="card-body">
            <h1 class="text-center">Próximas reservas</h1>
            <div class="row">
                <div class="col-12 mb-2">
                    <app-reservations-card></app-reservations-card>
                </div>
                <div class="col-12 mb-2">
                    <app-reservations-card></app-reservations-card>
                </div>
                <div class="col-12 mb-2">
                    <app-reservations-card></app-reservations-card>
                </div>
            </div>
            <div class="text-center mt-3">
                <a [routerLink]="['/dashboard', 'proximas-reservas']" class="btn btn-primary">Ver todas las reservas</a>
            </div>
        </div>
    </div>
</div>