.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(182, 182, 182, 0.3);

    h5 {
        background-color: rgba(182, 182, 182, 0.202);
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }
}