<app-header-dashboard />

<section class="container menus py-3">
    <!-- Header section with title and create button -->
    <div class="mb-4">
        <h3>
            Menús
        </h3>
        <button class="btn btn-primary" [routerLink]="['/dashboard', 'create-menu']">
            Crear menú
        </button>
    </div>

    <!-- Menu cards container -->
    <div class="row p-5">
        <div class="col p-0">
            <div class="d-flex flex-column gap-3">
                @for (menu of menus; track menu.id) {
                <app-menu-card [menu]="menu" />
                } @empty {
                <p >Cargando menús...</p>
                }
            </div>
        </div>
    </div>
</section>