<app-header-dashboard />
<section class="container text-center">
    <div>
        <h1 class="text-center shadow-sm m-4">Menús</h1>
        <button class="btn" [routerLink]="['/dashboard', 'create-menu']">Crear
            menú</button>
    </div>
    <div class="row my-3">
        <div class="col p-0">
            <div class="d-flex flex-column gap-3">
                <app-menu-card />
                <app-menu-card />
                <app-menu-card />
                <app-menu-card />
                <app-menu-card />
                <app-menu-card />
            </div>
        </div>
    </div>
</section>