<!-- Header -->
<app-header-dashboard />

<!-- Menu Cards Grid -->
<section class="p-5 my-3 container">
        <h3 >
            {{ menu.name }} | {{ menu.date | onlyDate }} | {{ menu.price }}€
        </h3>
        <div class="row g-5 mt-1">
            @for (dish of dishes; track dish.id) {
            <article class="col-12 col-md-6 col-lg-4">
                <app-menu-card2 [dish]="dish" />
            </article>
            }
        </div>
</section>

<!-- Commented out sections for future use -->
<!-- Main Dishes Section
<div class="container-fluid" id="menu-info">
    <h5 class="text-center mt-5 shadow-sm w-50 mx-auto">Platos principales</h5>
</div> -->

<!-- Desserts Section 
<div class="container-fluid" id="menu-info">
    <h5 class="text-center mt-5 shadow-sm w-50 mx-auto">Postres</h5>
</div> -->