<!-- Header -->
<app-header-dashboard />

<!-- Menu Title and Price -->
<div class="container-fluid p-3" id="menu-info">
    <h1 class="text-center p-2 m-3 shadow-sm w-50 mx-auto">
        {{ menu.name }} | {{ menu.date | onlyDate }} | {{ menu.price }}€
    </h1>
</div>

<!-- Dishes Section -->
<div class="container-fluid" id="menu-info">
    <h5 class="text-center shadow-sm w-50 mx-auto">Platos</h5>
</div>

<!-- Menu Cards Grid -->
<section class="p-3 my-3">
    <div class="container">
        <div class="row g-5">
            @for (dish of dishes; track dish.id) {
                <article class="col-12 col-md-6 col-lg-4">
                    <app-menu-card2 [dish]="dish" />
                </article>
            }
        </div>
    </div>
</section>

<!-- Commented out sections for future use -->
<!-- Main Dishes Section
<div class="container-fluid" id="menu-info">
    <h5 class="text-center mt-5 shadow-sm w-50 mx-auto">Platos principales</h5>
</div> -->

<!-- Desserts Section 
<div class="container-fluid" id="menu-info">
    <h5 class="text-center mt-5 shadow-sm w-50 mx-auto">Postres</h5>
</div> -->