<div class="container-fluid border border-2 rounded-3 mb-3 p-3" id="menu-card">
    <div class="row flex-column flex-md-row">
        <div class="col-12 col-md-9 ">
            <ul class="list-unstyled d-flex gap-4 align-items-center h-100">
                <li class="">Id: {{user.id}}</li>
                <li class="">{{user.name}} {{user.surname}}</li>
            </ul>
        </div>
        <div class="col-12 col-md-3 ">
            <ul class="list-unstyled d-flex gap-2 justify-content-end align-items-center h-100 ">
                <li><a class="btn" [routerLink]="['/dashboard/users', user.id]">Ver</a></li>
                <li><a class="btn" [routerLink]="['/dashboard/edit-user', user.id]">Actualizar</a></li>
                <li><button class="btn">Borrar</button></li>
            </ul>
        </div>
    </div>
</div>