<div class="card m-3" id="user-card">
    <div class="card-body">
        <h5 class="card-title">Username</h5>
        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
        <p class="card-text">Información acerca de la reserva, por ejemplo?</p>
        <a [routerLink]="['/dashboard/users/1']" class="btn card mt-3" id="viewUserBtn">Ver usuario</a>
        <a [routerLink]="['/dashboard/edit-user/1']" class="btn card mt-3" id="editUserBtn">Editar
            usuario</a>
        <a href="#" class="btn card mt-3" id="deleteUserBtn">Borrar usuario</a>
    </div>
</div>